@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* CSS Variables */
:root {
    --button-bg-color: #ffc600;
}
/*  */

body {
    width: 1263px;
    margin: 0 auto;
    padding: 0;
    font-family: "gilroyextrabold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    background-color: #fff;
    background-image: url('../img/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

header {
    padding: 0 60px;
    padding-top: 45px;
    padding-bottom: 160px;
    margin-top: 40px;
    background-color: #f7e296;
    position: relative;
    z-index: 0;
}

header.with-modal {
    padding-bottom: 0;
    z-index: 2;
}

.inner-page .main-header {
    padding-bottom: 45px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Snippet for hiding */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Global Button styles */
.button {
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.button:not(.button-services-current)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: -1;

    margin-top: calc(8px / 2 * -1);
    border-bottom: 8px solid var(--button-bg-color);
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Main Logo */
.main-logo {
    position: absolute;
    top: -24px;
    left: 60px;

    color: #000;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.6;
}

.main-logo:active {
    opacity: 0.3;
}

/* User Navigation in Header and Footer */
.user-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 37px;
}

.user-nav li {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.user-nav-user::before {
    content: url("../img/user-dark.svg");
    padding-right: 10px;
}

.exit-profile {
    opacity: 0.3;
    margin-left: 15px;
}

.user-nav-compare::before {
    content: url("../img/compare-dark.svg");
    padding-right: 10px;
}

.user-nav-cart::before {
    content: url("../img/cart-dark.svg");
    padding-right: 10px;
}

/* Search input in User Navigation in Header */
.search {
    display: flex;
}

.search-input {
    font: inherit;
    box-sizing: border-box;
    width: 360px;
    padding: 0px 40px;
    margin-right: 180px;
    border: 2px solid transparent;
    border-right: 0;
    outline: none;

    background-color: transparent;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.search-button {
    position: absolute;
    top: 33px;
    left: 420px;

    font-size: 15px;
    line-height: 30px;
    padding: 6px 20px;
    margin-right: 93px;
    border: 2px solid #000000;
    cursor: pointer;

    background: transparent;
}

.search-input:focus {
    border-bottom: 2px solid #000;
}

.search-input::placeholder {
    opacity: 0.3;
}

.search-input:hover::placeholder, 
.search-input:focus::placeholder {
    opacity: 0.6;
}

.search-button:hover {
    color: #fff;
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.user-nav li:nth-child(3) {
    margin-left: auto;
    margin-right: 35px;
}

.user-nav a {
    color: #000;
}

.user-nav a:hover, 
.user-nav a:focus {
    opacity: 0.6;
}

.user-nav a:active {
    opacity: 0.3;
}

/* Main Navigation in Header */
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav-item {
    align-self: flex-start;
}

.main-nav-item:not(:first-child) {
    width: 160px;
}

.main-nav > li:last-child {
    width: 110px;
    margin-left: auto;
}

.main-nav-item a {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-nav a:hover,
.main-nav a:focus {
    opacity: 0.6;
}

.main-nav a:active {
    opacity: 0.3;
}

/* Button "Каталог товаров" for showing modal list in Header*/
.button-catalog {
    width: 225px;
    margin-right: 315px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 0;
}

.button-catalog:hover {
    opacity: 0.6;
}

.button-catalog:active {
    opacity: 0.3;
}

.button-catalog::after {
    content: url("../img/plus.png");
    opacity: 0.3;
    line-height: 24px;
    padding-left: 10px;
}

/* Modal list of products in Header */
.catalog-modal-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 27px;
}

.inner-page .catalog-modal-list {
    position: absolute;
    top: 115px;
    left: 0;
    box-sizing: border-box;
    width: 1160px;
    padding-top: 25px;
    padding-left: 60px;
    padding-bottom: 35px;
    margin-top: 25px;
    background-color: #f7e296;
}

.catalog-modal-list li {
    margin-right: 40px;
}

.catalog-modal-list li:last-child {
    margin-right: 35px;
}

.col-1 {
    width: 180px;
}

.col-2 {    
    width: 130px;
}

.col-3 {
    width: 115px;
}

a.catalog-modal-item {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
    text-transform: none;
    letter-spacing: normal;
    display: block;
}

/* 3 Slides of Devices */
.slides {
    position: relative;
    z-index: 1;
}

/* Buttons for changing slides */
.slide-toggle-1 {
    width: 11px;
    height: 11px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 230px;
    right: 150px;
    z-index: 2;
}

.slide-toggle-2 {
    width: 11px;
    height: 11px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 230px;
    right: 115px;
    z-index: 2;
}

.slide-toggle-3 {
    width: 11px;
    height: 11px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 230px;
    right: 80px;
    z-index: 2;
}

.slide-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Inner circle in buttons for showing current slide */
.inner-circle {
    width: 5px;
    height: 5px;
    border: 1px solid #000;
    border-radius: 50%;
    pointer-events: none;
}

/* Slides of Devices */
.slide-item {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.slide1 {
    padding: 0 80px;
    margin-bottom: 105px;
    position: absolute;
    top: -108px;
} 

.slide2 {
    padding-left: 100px;
    padding-right: 80px;
    margin-bottom: 90px;
    position: absolute;
    top: -105px;
}

.slide3 {
    padding-left: 30px;
    padding-right: 60px;
    position: absolute;
    top: -105px;
    width: 1070px;
}

.slide2 img {
    width: 345px;
    height: 485px;
}

.slide3 img {
    width: 526px;
    height: 334px;
    margin-top: 55px;
}

/* Info about Device in slides */
.device-info {
    width: 500px;
    margin-top: 35px;
    padding-top: 40px;
    position: relative;
}

.device-info::before {
    content: "";
    width: 100px;
    height: 7px;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #fff;
}

.slide1 .device-info::after {
    content: "01";
    color: #fff;
    font-size: 180px;
    line-height: 180px;
    position: absolute;
    top: -53px;
    right: -5px;
}

.slide2 .device-info::after {
    content: "02";
    color: #fff;
    font-size: 180px;
    line-height: 180px;
    position: absolute;
    top: -55px;
    right: -5px;
}

.slide3 .device-info::after {
    content: "03";
    color: #fff;
    font-size: 180px;
    line-height: 180px;
    position: absolute;
    top: -55px;
    right: -5px;
    z-index: -1;
}

b.slide {
    font-size: 47px;
    line-height: 56px;
    display: block;
    margin-bottom: 25px;
}

p.slide {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 50px;
}

/* Button "Подробнее" in slides */
.button-slider {
    display: inline-block;
    margin-bottom: 50px;
    padding: 8px 45px;
}

.button-slider:hover {
    text-decoration: none;
    background-color: #f0c52e;
}

/* Parameters of Device */
.parameter-table td {
    box-sizing: border-box;
    width: 140px;
    text-align: left;

    font-family: "Gilroy Light", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.parameter-table th {
    box-sizing: border-box;
    width: 140px;
    text-align: left;

    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.parameter-row td:first-child, 
.parameter-row th:first-child {
    display: inline-block;
    margin-right: 20px;
}

.slide2 td:first-child {
    width: 160px;
    margin-right: 0;
}

/* Groups of products */
.product-groups {
    padding-top: 485px;
}

.product-groups-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-groups-item {
    font-size: 18px;
    width: 160px;
    display: flex;
    flex-direction: column-reverse;
}

.product-groups-item a {
    color: #000;
    display: block;
    padding-top: 35px;
}

.product-groups-item a:active {
    opacity: 0.3;
}

.product-groups-item a:active + .background img {
    opacity: 0.3;
}

/* Background Color for Groups of products */
.background {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-groups-item:nth-child(2) .background {
    align-items: flex-end;
}

.background:hover {
    cursor: pointer;
    background-color: #f0c52e;
}

.background:active > img {
    opacity: 0.3;
}

.product-groups-item:active > a {
    opacity: 0.3;
}

.product-groups-item img {

    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}

.product-groups-item a:hover + .background {
    background-color: #f0c52e;
}

/* Services section */
.services {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 165px;
    position: relative;
    z-index: 1;
}

/* Gray background for Services section */
.services::before {
    content: "";
    background-color: #e5e5e5;
    position: absolute;
    top: 100px;
    left: -52px;
    width: 1263px;
    height: 310px;
    z-index: -1;
    margin-bottom: 95px;
}

.services-list {
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 67px;
    border-right: 7px solid #000;
}

.services-sliders {
    width: 760px;
    margin-top: 75px;
}

.delivery-slide,
.warranty-slide,
.credit-slide {
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.delivery,
.warranty,
.credit {
    width: 430px;
}

.services-sliders img {
    width: 172px;
    margin-right: 60px;
}

.button-services {
    display: inline-block;
    width: 160px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 8px 0;
    margin-bottom: 25px;
}

.button-services-current {
    display: block;
    width: 275px;
    text-align: left;
    padding-left: 25px;
    color: #f7e184;
    text-decoration: none;
    background-color: #000000;
}

.button-services:hover:not(.button-services-current) {
    text-decoration: none;
    background-color: #f0c52e;
}

.button-services:active {
    color: #f7e184;
    background-color: #000;
}

.services-sliders h3 {
    font-size: 47px;
    line-height: 48px;
    margin: 0;
}

.services-sliders p {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-top: 35px;
}

/* Logotypes of famous brands */
.logos-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-bottom: 95px;
    padding: 0;
}

.logos-item img {
    opacity: 0.2;
    filter: grayscale(1);
}

.logos-item img:hover {
    opacity: 1;
    filter: grayscale(0);
}

/* About Us and Contacts section */
.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.about-us {
    width: 475px;
    position: relative;
}

.contacts {
    width: 560px;
    position: relative;
}

.about-us::before,
.contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    background-color: #000000;
}

.index-columns h2 {
    font-size: 47px;
    line-height: 48px;
    margin: 50px 0;
    padding: 0;
}

.index-columns p {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.about-us p:last-of-type {
    margin-bottom: 55px;
}

/* Courier companies for shipping to customers */
.courier-list {
    list-style: none;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.courier-list li {
    position: relative;
    padding-left: 35px;
}

.courier-list li::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;

    width: 6px;
    height: 6px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
}

.about-us a,
.contacts a {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 8px 0;
    margin-top: 70px;
}

.about-us a:hover,
.contacts a:hover {
    text-decoration: none;
    background-color: #ffc600;
}

.map {
    cursor: pointer;
}

/* Footer section */
.main-footer {
    width: 1263px;
    margin: 0 auto;
    padding: 60px 0;
    background-color: #464646;
}

.footer-row1,
.footer-row2,
.footer-row3 {
    display: flex;
    justify-content: space-between;
}

.footer-row1 {
    margin-bottom: 25px;
}

.footer-row2 {
    margin-bottom: 55px;
}

/* Main Logo in Footer */
.footer-logo {
    width: 165px;
    color: #ffc600;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.footer-logo:hover,
.footer-logo:focus {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

/* User Navigation in Footer */
.footer.user-nav {
    display: flex;
    justify-content: flex-end;

    width: 540px;
    text-align: right;
    margin-bottom: 0;
}

.footer.user-nav li {
    margin-left: 40px;
    margin-right: 0;
}

.footer.user-nav .exit-profile {
    color: #fff;
}

a.user-nav-item {
    color: #fff;
    opacity: 0.7;
}

a.user-nav-item:hover {
    opacity: 1;
}

a.user-nav-item:active {
    opacity: 0.3;
}

.user-nav-item.user::before {
    content: url("../img/user.svg");
    margin-right: 10px;
    opacity: 1;
}

.user-nav-item.compare::before {
    content: url("../img/compare.svg");
    margin-right: 10px;
}

.user-nav-item.cart::before {
    content: url("../img/cart.svg");
    margin-right: 10px;
}

.user-nav-item:hover::before {
    opacity: 0.6;
}

.user-nav-item:active::before {
    opacity: 0.3;
}

.footer-address,
.footer-phone {
    color: #fff;
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

/* Main Navigation in Footer */
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 390px;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    line-height: 30px;
    margin: 0;
}

.footer-nav a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-nav a:hover,
.footer-nav a:focus {
    opacity: 0.6;
}

.footer-nav a:active {
    opacity: 0.3;
}

.footer-row3 {
    display: flex;
    justify-content: space-between;
}

.footer-row3::before {
    content: "";
    width: 80px;
    height: 10px;
    margin-top: 13px;
    background-color: #ffc600;
}

.social-links {
    display: flex;
    justify-content: space-between;
    
    width: 150px;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.social-links li {
    padding: 0;
    margin: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
}

.social-button:hover {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

/* HTML Academy Logo */
.html-logo:hover {
    opacity: 0.6;
}

.html-logo:active {
    opacity: 0.3;
}


/* Modal  sections*/
.modal {
   position: fixed;
   opacity: 0;
   transition: opacity 0.5s ease-out;
}

/* Section "Write Us" */
.modal-write-us {
    top: 50px;
    left: 50%;
    z-index: 2;
    width: 960px;
    min-height: 500px;
    margin: 0 auto;
    margin-left: -480px;
    padding-top: 95px;
    box-shadow: 0 5px 15px 5px rgba(4, 6, 6, 0.2);
    border-radius: 5px;
    background-color: #fff;
} 

/* Modal Map section positioning */
.modal-map {
    top: 50px;
    left: 50%;
    z-index: 2;
    width: 960px;
    height: 555px;
    margin-left: -483px;
    box-shadow: 0 10px 15px 5px rgba(4, 6, 6, 0.2);
}

.write-us-form {
    width: 760px;
    margin: 0 auto;
}

.write-us-form p {
    margin: 0;
    margin-top: 35px;
    padding: 0;
}

.form-data {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-data li {
    width: 360px;
}

.write-us-form input,
.write-us-form textarea {
    font-family: "Open Sans Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    margin-top: 10px;
    border: 3px solid transparent;
    background-color: #f2f2f2;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    color: rgb(0, 0, 0);
    border: 3px solid #f7e296;
    background-color: #fff;
}

.write-us-form button[type="submit"] {
    margin-top: 50px;
    padding: 10px 40px;
    border: none;
    background-color: #fff;
}

.write-us-form button[type="submit"]:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--button-bg-color);
}

/* Button for closing modal pop-ups */
.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    background-color: #f0c52e;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 15px;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}


/* INNER PAGE styling */

.inner-page {
    width: 1263px;
    margin: 0 auto;
}

.inner-page-container {
    width: 1263px;
}

.page-title {
    font-size: 47px;
    line-height: 48px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 112px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding-left: 112px;
    margin: 0;
    margin-bottom: 45px;
    position: relative;
}

.breadcrumbs::before,
.breadcrumbs::after {
    content: "";
    border: solid #000000;
    border-width: 1px 1px 0px 0px;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
}

.breadcrumbs::before {
    left: 180px;
}

.breadcrumbs::after {
    left: 322px;
}

.breadcrumbs li {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-right: 35px;
}

.breadcrumbs a,
.breadcrumbs .current {
    color: #000;
    opacity: 0.3;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    opacity: 0.6;
}
 
.breadcrumbs a:active {
    opacity: 0.1;
}

.inner-page-container h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Side Form styling */
.inner-page .index-columns {
    justify-content: center;
}

.inner-page .index-columns h2 {
    margin: 0;
}

.filter {
    box-sizing: border-box;
    width: 382px;
}

.filter h2 {
    padding: 23px 0;
    padding-left: 112px;
    background-color: #dbdbdb;
}

.filter-form {
    height: 100%;
    padding-left: 112px;
    background-color: #eeeeee;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.cost {
    position: relative;
    padding-top: 70px;
    padding-bottom: 35px;
}

.color {
    position: relative;
    padding-bottom: 35px;
}

.bluetooth {
    position: relative;
    padding-bottom: 35px;
}

.cost::before,
.color::before,
.bluetooth::before {
    content: "";
    width: 200px;
    height: 2px;
    position: absolute;
    background-color: #000000;
}

.filter-form h3 {
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
}

.filter-form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-option {
    position: relative;
}

/* Cost Range input */
.range-image {
    display: block;
}

.cost-range {
    font-family: "Gilroy Light", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
}

.cost-range-from {
    padding-right: 60px;
}

/* Checkbox input for Color choice */
.checkbox-indicator {
    position: absolute;
    top: 9px;
    left: 0;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    border: 2px solid #000000;
    border-radius: 3px;
    cursor: pointer;
}

.filter-input-checkbox:focus + .checkbox-indicator {
    outline: 1px dotted;
    outline-offset: 1px;
}

.filter-input-checkbox:checked + .checkbox-indicator::before,
.checkbox-indicator:focus::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0px;

    width: 10px;
    height: 4px;

    background-color: #000000;
}

.filter-input-checkbox:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;

    width: 20px;
    height: 4px;

    background-color: #000000;
}

.filter-input-checkbox:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.filter-input-checkbox:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.filter-option label {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    padding: 12px 0;
    padding-left: 40px;
    padding-right: 20px;
}

.filter-option label:hover {
    opacity: 0.6;
}


/* Radiobutton input for Bluetooth choice */
.radio-indicator {
    position: absolute;
    top: 9px;
    left: 0;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 3px solid #000000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-input-radio:focus + .radio-indicator {
    outline: 1px dotted;
    outline-offset: 1px;
}

.filter-input-radio:checked + .radio-indicator::before,
.radio-indicator:focus::before {
    content: "";
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #000000;
}

/* Button in Filter Form */
.button-filter {
    border: none;
    background-color: transparent;
    padding: 9px 40px;
    cursor: pointer;
}

.button-filter:hover {
    border: none;
    background-color: var(--button-bg-color);
    padding: 9px 40px;
}

/* Parameters for sorting products */
.wrapper-sorting {
    display: flex;
    padding: 23px 0;
    background-color: #ebebeb;
    position: relative;
}

.arrow-up {
    content: "";
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #000000;
    position: absolute;
    top: 30px;
    right: 85px;
    opacity: 0.2;
    cursor: pointer;
}

.arrow-down {
    content: "";
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #000000;
    position: absolute;
    top: 30px;
    right: 55px;
    cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
    opacity: 0.4;
}

.arrow-up:active,
.arrow-down:active {
    opacity: 1;
}

.wrapper-sorting h2 {
    padding-left: 70px;
    padding-right: 50px;
}

.sorting-params {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sorting-params li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-right: 20px;
}

.sorting-params a {
    color: #000;
    opacity: 0.3;
}

.sorting-params a:hover,
.sorting-params a:focus {
    opacity: 0.6;
}

.sorting-params a:active {
    opacity: 1;
}

/* Catalog of products */
.catalog {
    width: 881px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 70px;
    padding-right: 52px;
}

.catalog-item {
    width: 360px;
    margin-top: 45px;
}

.catalog-item h3 {
    color: #000;
    font-size: 18px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.catalog-item a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hover-container {
    position: relative;
}

.catalog-item img {
    transition: 0.5s ease;
}

.hover-container:hover img {
    opacity: 0.4;
}

.wrapper-for-hover {
    opacity: 0;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.hover-container:hover .wrapper-for-hover {
    opacity: 1;
}

.button-to-cart {
    line-height: 24px;
    border: none;
    padding: 8px 35px;
    cursor: pointer;
    background-color: transparent;
}

.button-to-cart:hover {
    background-color: var(--button-bg-color);
}

.button-to-compare {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 36px;
    opacity: 0.5;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    background-color: transparent;
}

.price {
    color: #000;
    font-family: "Gilroy Light", Arial, Helvetica, sans-serif;
    font-size: 16px;
    align-self: flex-start;
    margin-top: 30px;
}

/* Pagination under products list */
.pagination-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-top: 35px;
    margin-left: 70px;
    margin-right: 52px;
    padding: 0;
    background-color: #ebebeb;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item a {
    padding: 22.5px 13px;
}

.pagination-item-back {
    margin-right: auto;
}

.pagination-item-back a {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 22.5px 30px;
}

.pagination-item-next {
    margin-left: auto;
}

.pagination-item-next a {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 22.5px 30px;
}

.pagination-list a {
    color: #000;
    font-size: 16px;
}

.pagination-item:not(.pagination-item-back):not(.pagination-item-next):not(.pagination-item-current) {
    opacity: 0.3;
}

.pagination-item-back a:hover,
.pagination-item-next a:hover {
    background-color: #d9d9d9;
}

.pagination-item-back a:active,
.pagination-item-next a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d9d9d9;
}