@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Light';
    src: url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "gilroyextrabold", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000;

    background-color: #fff;
    background-image: url('../img/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

header {
    padding: 0 60px;
    padding-top: 50px;
    padding-bottom: 165px;
    margin-top: 40px;
    background-color: #f7e296;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.main-container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: line-through #f0c52e;
}

.main-logo {
    position: absolute;
    top: 17px;
    left: 108px;

    color: #000;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.main-logo:hover,
.main-logo:focus {
    opacity: 0.6;
}

.main-logo:active {
    opacity: 0.3;
}

.user-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 45px;
}

.user-nav li {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

.search-input {
    width: 200px;
    margin-right: 340px;
}

.user-nav li:nth-child(3) {
    margin-left: auto;
    margin-right: 35px;
}

.user-nav a {
    color: #000;
}

.user-nav a:hover, 
.user-nav a:focus {
    opacity: 0.6;
}

.user-nav a:active {
    opacity: 0.3;
}

.search-input {
    border: none;
}

.search-input:focus {
    border-bottom: 2px solid #000;
}

.search-input::placeholder {
    opacity: 0.3;
}

.search-input:hover::placeholder, 
.search-input:focus::placeholder {
    opacity: 0.6;
}

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li:first-child {
    width: 540px;
}

.main-nav li:not(:first-child) {
    width: 160px;
}

.main-nav li:last-child {
    width: 120px;
    margin-left: auto;
}

.main-nav a {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-nav a:hover,
.main-nav a:focus {
    opacity: 0.6;
}

.main-nav a:active {
    opacity: 0.3;
}

.catalog-modal-list {
    list-style: none;
}

.catalog-modal-item a {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
    text-transform: none;
    letter-spacing: normal;
}

.slides {
    position: relative;
}

.slide-item {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.slide1 {
    padding: 0 80px;
    margin-bottom: 105px;
    position: absolute;
    top: -108px;
} 

.slide2 {
    padding-left: 100px;
    padding-right: 80px;
    margin-bottom: 90px;
    position: absolute;
    top: -105px;
}

.slide3 {
    padding-left: 30px;
    padding-right: 60px;
    position: absolute;
    top: -105px;
    width: 1070px;
}

.slide2 img {
    width: 345px;
    height: 485px;
}

.slide3 img {
    width: 526px;
    height: 334px;
    margin-top: 55px;
}

.device-info {
    width: 500px;
    margin-top: 75px;
}

b.slide {
    font-size: 47px;
    line-height: 56px;
    display: block;
    margin-bottom: 25px;
}

p.slide {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 50px;
}

.button-slider {
    display: block;
    margin-bottom: 50px;
}

.device-info a:hover {
    background-color: #f0c52e;
}

.device-info a:active {
    opacity: 0.3;
    background-color: #f0c52e;
}

.parameter-table td {
    box-sizing: border-box;
    width: 140px;
    text-align: left;

    font-family: "Gilroy Light", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.parameter-table th {
    box-sizing: border-box;
    width: 140px;
    text-align: left;

    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.parameter-row td:first-child, 
.parameter-row th:first-child {
    display: inline-block;
    margin-right: 20px;
}

.slide2 td:first-child {
    width: 160px;
    margin-right: 0;
}

.product-groups {
    padding-top: 485px;
}

.product-groups-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-groups-item {
    font-size: 18px;
    width: 160px;
}

.product-groups-item a {
    color: #000;
    display: inline-block;
}

.product-groups-item a:active {
    opacity: 0.3;
}

.product-groups-item img {
    display: block;
    width: 160px;
    height: 160px;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    background-color: #f7e296;
}

.product-groups-item img:hover  {
    background-color: #f0c52e;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 165px;
    
    position: relative;
    z-index: 1;
}

.services::before {
    content: "";

    background-image: url("../img/pattern-gray.jpg");
    background-repeat: repeat;
    background-position: 0 0;

    position: absolute;
    top: 100px;
    left: -52px;

    width: 1263px;
    height: 290px;
    
    z-index: -1;
}

.services-list {
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    padding-bottom: 67px;
    border-right: 7px solid #000;
}

.services-sliders {
    width: 760px;
    margin-top: 65px;
}

.delivery-slide,
.warranty-slide,
.credit-slide {
    display: flex;
    justify-content: space-between;
    width: 760px;
}

.delivery,
.warranty,
.credit {
    width: 430px;
}

.services-sliders img {
    width: 172px;
    margin-right: 60px;
}

.button-services {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.button-services-current {
    color: #f7e184;
    text-decoration: none;
    background-color: #000000;
}

.button-services:hover:not(.button-services-current) {
    text-decoration: none;
    background-color: #f0c52e;
}

.button-services:active {
    color: #f7e184;
    background-color: #000;
}

.services-sliders h3 {
    font-size: 47px;
    line-height: 48px;
    margin: 0;
}

.services-sliders p {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
}

.logos-list {
    list-style: none;
}

.logos-item {
    display: inline;
    opacity: 0.2;
}

.logos-item:hover {
    opacity: 1;
}

.index-columns h2 {
    font-size: 47px;
    line-height: 48px;
}

.index-columns p {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 30px;
}

.courier-list {
    list-style: none;
    font-size: 16px;
    line-height: 40px;
}

.main-footer {
    background-color: #464646;
}

.footer-logo {
    color: #ffc600;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
}

.footer-logo:hover,
.footer-logo:focus {
    opacity: 0.6;
}

.footer-logo:active {
    opacity: 0.3;
}

.footer.user-nav {
    text-align: right;
}

.footer.user-nav li {
    display: inline;
}

.footer.user-nav a {
    color: #fff;
}

.footer-address,
.footer-phone {
    color: #fff;
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

.footer-nav {
    list-style: none;
    text-align: center;
}

.footer-nav li {
    display: inline;
    margin: 0 10px;
}

.footer-nav a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-nav a:hover,
.footer-nav a:focus {
    opacity: 0.6;
}

.footer-nav a:active {
    opacity: 0.3;
}

.social-links {
    list-style: none;
    text-align: center;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.write-us-form ul {
    list-style: none;
}

.write-us-form input,
.write-us-form textarea {
    font-family: "Open Sans Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;

    background-color: #f2f2f2;
    border: none;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
    background-color: #eaeaea;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
    color: #000;
    border: 3px solid #f7e296;
    background-color: transparent;
}

.page-title {
    font-size: 47px;
    line-height: 48px;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs li {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs a,
.breadcrumbs .current {
    color: #000;
    opacity: 0.3;
}

.breadcrumbs a:hover, 
.breadcrumbs a:focus {
    opacity: 0.6;
}
 
.breadcrumbs a:active {
    opacity: 0.1;
}

.container h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

fieldset {
    border: none;
}

.filter-form ul {
    list-style: none;
}

.filter-option label {
    font-family: "Open Sans Light", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 40px;
}

.sorting-params {
    list-style: none;
}

.sorting-params li {
    font-family: "Open Sans Regular", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: inline;
}

.sorting-params a {
    color: #000;
    opacity: 0.3;
}

.sorting-params a:hover,
.sorting-params a:focus {
    opacity: 0.6;
}

.sorting-params a:active {
    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.catalog-item h3 {
    color: #000;
    font-size: 18px;
}

.price {
    font-family: "Gilroy Light", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.pagination-list {
    list-style: none;
    background-color: #ebebeb;
}

.pagination-list li {
    display: inline;
}

.pagination-list a {
    color: #000;
    font-size: 16px;
}